$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #55DFB4;
$color-blue: blue;
$color-red: #FF0E0E;
$color-light-green: #004b00;
$color-darker-green: #399c39;
$background-image: linear-gradient(90deg, $color-light-green, $color-darker-green);
$color-yellow-green: yellowgreen;