$font-poppins: 'Poppins', sans-serif;
$font-sans: 'Open Sans', sans-serif;
$font-playball: 'Playball', cursive;

$weight-light: 300;
$weight-regular: 400;
$weight-normal: 400;
$weight-bold: 700;
$weight-extraBold: 800;
