$pixels-0    : 0;
$pixels-1    : 0.0625rem;
$pixels-2    : 0.125rem;
$pixels-3    : 0.1875rem;
$pixels-3-2  : 0.2rem;
$pixels-3-28 : 0.205rem;
$pixels-4    : 0.25rem;
$pixels-5    : 0.3125rem;
$pixels-6    : 0.375rem;
$pixels-7    : 0.4375rem;
$pixels-8    : 0.5rem;
$pixels-9    : 0.5625rem;
$pixels-10   : 0.625rem;
$pixels-11   : 0.6875rem;
$pixels-12   : 0.75rem;
$pixels-13   : 0.8125rem;
$pixels-14   : 0.875rem;
$pixels-15   : 0.9375rem;
$pixels-16   : 1rem;
$pixels-17   : 1.0625rem;
$pixels-18   : 1.125rem;
$pixels-19   : 1.1875rem;
$pixels-20   : 1.25rem;
$pixels-22   : 1.375rem;
$pixels-23   : 1.4375rem;
$pixels-24   : 1.5rem;
$pixels-26   : 1.625rem;
$pixels-27   : 1.6875rem;
$pixels-28   : 1.75rem;
$pixels-30   : 1.875rem;
$pixels-32   : 2rem;
$pixels-34   : 2.125rem;
$pixels-35   : 2.1875rem;
$pixels-36   : 2.25rem;
$pixels-37   : 2.3125rem;
$pixels-38   : 2.375rem;
$pixels-40   : 2.5rem;
$pixels-41   : 2.5625rem;
$pixels-42   : 2.625rem;
$pixels-44   : 2.75rem;
$pixels-46   : 2.875rem;
$pixels-49   : 3.0625rem;
$pixels-50   : 3.125rem;
$pixels-56   : 3.5rem;
$pixels-57   : 3.5625rem;
$pixels-58   : 3.625rem;
$pixels-60   : 3.75rem;
$pixels-64   : 4rem;
$pixels-70   : 4.375rem;
$pixels-90   : 5.625rem;
$pixels-100  : 6.25rem;
$pixels-106  : 6.625rem;
$pixels-117  : 7.3125rem;
$pixels-120  : 7.5rem;
$pixels-132  : 8.25rem;
$pixels-156  : 9.75rem;
$pixels-170  : 10.625rem;
$pixels-180  : 11.25rem;
$pixels-252  : 15.75rem;
$pixels-300  : 18.75rem;
$pixels-320  : 20rem;
$pixels-328  : 20.5rem;
$pixels-350  : 21.875rem;
$pixels-370  : 23.125rem;
$pixels-372  : 23.25rem;
$pixels-386  : 24.125rem;
$pixels-405  : 25.3125rem;
$pixels-420  : 26.25rem;
$pixels-426  : 26.625rem;
$pixels-440  : 27.5rem;
$pixels-460  : 28.75rem;
$pixels-550  : 34.375rem;
$pixels-624  : 39rem;
$pixels-800  : 50rem;
$pixels-858  : 53.625rem;
$pixels-900  : 56.25rem;
$pixels-1016 : 63.5rem;
$pixels-1090 : 68.125rem;
$pixels-1352 : 84.5rem;
