.header
{
    height           : $header-height;
    width            : 100%;
    background-color : $color-black;

    &__container
    {
        height          : inherit;
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        padding         : 0 $pixels-16;

    }

    .logo
    {
        text-transform : uppercase;
        margin-left    : $pixels-10;

        span
        {
            color : $color-red;
        }

        @include for-mini-devices
        {
            font-size : $pixels-18;
        }
    }

    .nav
    {
        &__btn
        {
            opacity  : 0;
            position : absolute;
            display  : none;
            left     : -99999px;
            top      : -99999px;
        }

        &__switch
        {
            display       : block;
            border        : $pixels-2 solid $color-white;
            padding       : $pixels-8;
            border-radius : 25%;

            min-height    : $pixels-60;
            @include for-wider-devices
            {
                display : none;
            }

            @include for-mini-devices
            {
                border        : $pixels-1 solid $color-white;
                padding       : $pixels-4;
                border-radius : 25%;

                min-height    : $pixels-30;

            }

            span
            {
                display          : block;
                background-color : $color-red;
                height           : $pixels-8;
                width            : $pixels-64;
                margin-bottom    : $pixels-8;

                &:last-child
                {
                    margin-bottom : 0;
                }

                @include for-wider-devices
                {
                    display : flex;
                }

                @include for-mini-devices
                {
                    height        : $pixels-4;
                    width         : $pixels-32;
                    margin-bottom : $pixels-4;
                }

            }
        }

        &__list
        {
            display          : none;
            background-color : $color-black;
            position         : absolute;
            top              : $header-height;
            right            : 0;
            width            : 100vw;
            text-align       : right;

            @include for-wider-devices
            {
                display          : flex;
                position         : static;
                width            : auto;
                background-color : inherit;
                text-align       : center;
            }
        }

        &__el
        {
            padding       : $pixels-20;
            margin        : 0 $pixels-20;
            border-bottom : $pixels-1 dotted $color-white;

            &:last-child
            {
                border-bottom : none;
            }

            @include for-wider-devices
            {
                margin-left : 0;
                border      : none;
            }
        }

        &__link
        {
            color       : $color-red;
            font-weight : $weight-light;

            @include for-wider-devices
            {
                color      : $color-white;
                text-align : center;
            }

            &:visited
            {
                color : $color-red;

                @include for-wider-devices
                {
                    color : $color-white;
                }
            }

            &:hover
            {
                @include for-wider-devices
                {
                    color : $color-red;
                }
            }

            &:active
            {
                color       : $color-blue;
                font-weight : bold;
                @include for-wider-devices
                {
                    font-weight : $weight-light;
                }
            }
        }

        .nav__btn:checked ~ .nav__list
        {
            display        : flex;
            flex-direction : column;
        }

        .nav__btn:checked ~ .nav__switch span:nth-child(1)
        {
            transform : rotate(-30deg) translate(-7.5px, 15px) scaleX(1.18);

            @include for-mini-devices
            {
                transform : rotate(-30deg) translate(-4.5px, 7.5px) scaleX(1.18);
            }
        }

        .nav__btn:checked ~ .nav__switch span:nth-child(2)
        {
            display : none;
        }

        .nav__btn:checked ~ .nav__switch span:nth-child(3)
        {
            transform : rotate(30deg) translate(0px, 0px) scaleX(1.18);
        }

        .nav__btn:checked
        {
            @include for-wider-devices
            {
                & ~ .nav__list
                {
                    flex-direction : row;
                }
            }
        }
    }
}