.sentence
{
    &__container
    {
        min-height          : calc(100vh - $header-height);
        background-image    : url('../img/pitch-vertical.jpeg');
        background-size     : cover;
        background-position : center;
        @include for-wider-devices
        {
            background-image : url('../img/pitch-horizontal.jpg');
            min-width        : 100vw;
            display          : flex;
            justify-content  : start;
            align-items      : center;
        }
    }

    &__overlay
    {
        background-image : $background-image-sentence-narrow;

        @include for-wider-devices
        {
            background-image : $background-image-sentence-wide;
            min-height       : calc(100vh - $header-height);
            position         : relative;
            width            : 100vw;
        }
    }

    &__text
    {
        font-family : $font-sentence;
        font-size   : $pixels-36;
        color       : $color-white-dark;
        padding     : $pixels-20 $pixels-10;
        text-align  : center;

        @include for-wider-devices
        {
            position : absolute;
            top      : 50%;
            left     : 50%;
            padding: $pixels-0 $pixels-20;
        }

        @include for-mini-devices
        {
            font-size : $pixels-18;
        }

        span
        {
            @include for-wider-devices
            {
                color : red;
            }
        }
    }
}